<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>redirectURI</key>
	<string>https://www.github.com</string>
	<key>ClientSecret</key>
	<string>c0f91df6f6744767a4e81fb502350844</string>
	<key>ClientID</key>
	<string>c669ec4d307c412d93fa98477af37a57</string>
</dict>
</plist>
